<app-header [count]="addedCart"></app-header>
<div class="container-fluid" style=" background-color:rgb(223, 217, 217)">
	<div class="header-body">
		<div class="row">
			<div class="col-6 ttt" style="text-align: center;">
				<div class="card card-stats mb-xl-0">
					<div>
						<p class="text-muted text-sm col">
							<span class="mr-2">
								<i class="fa fa-sort"></i>
							</span>
							<span class="text-nowrap">Sort</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-6 ttt" style="text-align: center;">
				<div class="card card-stats mb-xl-0">
					<div>
						<p class="text-muted text-sm col align-middle">
							<span class="mr-2">
								<i class="fa fa-filter"></i>
							</span>
							<span class="text-nowrap">Filter</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-6 ttt" *ngFor="let item of lists">
				<div class="card card-stats mb-xl-0" style=" background-color:rgb(223, 217, 217)">
					<img src="{{item.img_url}}" class="card-img-top">
					<div class="card-body">
						<div class="row" style="padding-bottom: 5%">
							<div class="col">
								<h6 class="card-title text-muted mb-0">{{item.name}}</h6>
							</div>
						</div>

						<div class="bottom-wrap" style="padding-bottom: 10%">
							<a class="float-right text-success">{{item.discount}} % off </a>
							<div class="price-wrap">
								<span class="price h6">{{item.price | currency:'INR'}}</span> 
							</div>
						</div>
						<!-- <br> -->
						<a class="btn btn-warning col" style="border-radius: 36px;" (click)="addCart()">
							Add to Cart
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>